@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductoModel

<div class="form-group">
    <label for="nombre">Nombre: @Model.Nombre</label>

</div>
<div class="form-group">
    <label for="nombre">Precio: @Model.Precio</label>


</div>
<div class="form-group">
    <label for="nombre">Comañia: @Model.Compania</label>


</div>
<div class="form-group">
    <label for="nombre">Restricción edad: @Model.RestriccionEdad</label>

</div>


<div class="form-group">
    <label for="nombre">Descripción: @Model.Descripcion</label>

</div>

